* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #00c6f2 30%, #8100cb 100%) !important;
  background-attachment: fixed;
}